@model Car
@{
    Layout = "_Layout";
    ViewBag.Title = "Home";
}

<h4>Welcome to the Car Repair System. You will be able to: </h4>
<ul>
    <li>Register a New Car</li>
    <li>See the List of Cars</li>
</ul>