@model Car
@{
    Layout = "_Layout";
    ViewBag.Title = "Thank You";
}

<h4>
    <b>@Model.Model</b> belongs to <b>@Model.OwnerName</b> and it has been successfully registered as <b>
    @switch (Model.Make)
    {
        case 1:
            @:Honda
            break;
        case 2:
            @:Toyota
            break;
        case 3:
            @:Volvo
            break;
        case 4:
            @:Lexus
            break;

    }
</b> on <b>@Model.RegistrationDate</b>
</h4>
